{% extends "layout.html" %}

{% block body %}

<div>
	<img src="{{ '/images/palikka-iconi1-B.png' | url }}">
	<h2>What is Palikkatakomo?</h2>
	<ul>
		<li>Palikkatakomo is a community and association in Finland which purpose is to develop LEGO hobby in Finland.</li>
		<li>Forum was opened 2008 and association was formed 2012.</li>
	</ul>
</div>

<div>
	<img src="{{ '/images/palikka-iconi2.png' | url }}">
	<h2>What does Palikkatakomo do?</h2>
	<ul>
		<li>We provide discussion platforms in our forums and in Discord.</li>
		<li>We host inspirating building competitions and arrange large collaborative builds to LEGO events.</li>
		<li>We keep active contact to LEGO Group and other LEGO hobbyist clubs</li>
	</ul>
</div>

<div>
	<img src="{{ '/images/palikka-iconi3-b.png' | url }}">
	<h2>Who can join the community?</h2>
	<ul>
		<li>Anyone can join our forum, you do not need to be a member of association and there is no age limit</li>
		<li>Any LEGO hobbyist over 15 years old can join Palikkatakomo association</li>
	</ul>
</div>

<div>
	<img src="{{ '/images/palikka-iconi4.png' | url }}">
	<h2>Why to join?</h2>
	<ul>
		<li>You meet inspiring, supporting and knowledgeable people to discuss all thing LEGO.</li>
		<li>You can participate our large collaborative build projects in events</li>
		<li>You can store your LEGO pictures to our photo gallery</li>
		<li>You support the LEGO hobbyist scene in Finland</li>
	</ul>
</div>
{% endblock %}
