{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ '/static/frontpage.css'|url }}">
{% endblock %}

{% block body %}

<div id="frontpage">

	<div>
		<img src="{{ '/images/frontpage/section-1.png' | url }}">
		<h2>Mikä on Palikkatakomo?</h2>
			<ul>
				<li>Palikkatakomo on LEGO-harrastusta Suomessa edistävä yhteisö ja yhdistys.</li>
				<li>Foorumilla voit osallistua keskusteluun ilman yhdistyksen jäsenyyttä, eikä ikärajaa ole.</li>
				<li>Palikkatakomon jäseneksi yhdistykseen voi liittyä yli 15-vuotias LEGO-harrastaja (20e/kalenterivuosi).</li>
			</ul>
	</div>

	<div>
		<img src="{{ '/images/frontpage/section-2.png' | url }}">
		<h2>Mitä Palikkatakomo tekee?</h2>
			<ul>
				<li>Osallistumme LEGO-tapahtumiin</li>
				<li>Mahdollistamme keskustelun erityisesti nettifoorumilla ja Discordissa.</li>
				<li>Järjestämme innostavia rakennuskilpailuja ja tuemme jäsenten yhteisteosten toteuttamista
					LEGO-tapahtumiin.
				</li>
				<li>Ylläpidämme aktiivista yhteyttä LEGO-yhtiöön ja muihin LEGO-yhdistyksiin.</li>
			</ul>
	</div>

	<div>
		<img src="{{ '/images/frontpage/section-3.png' | url }}">
		<h2>Kuka voi liittyä Palikkatakomoon?</h2>
		<ul>
			<li>Kaikki voivat liittyä Palikkatakomon yhteisöön rekisteröitymällä foorumillemme. Myös Discord -serverimme on kaikille avoin.</li>
			<li>Jokainen 15 vuotta ja vanhempi LEGO harrastaja voi liittyä Palikkatakomo ry -yhdistykseemme.</li>
		</ul>
	</div>

	<div>
		<img src="{{ '/images/frontpage/section-4.png' | url }}">
		<h2>Miksi kannattaa liittyä?</h2>
		<ul>
			<li>Saat inspiroivaa, kannustavaa ja asiantuntevaa seuraa LEGO-aiheisiin keskusteluihin.</li>
			<li>Mahdollisuus osallistua Palikkatakomon yhteisteoksiin tapahtumissa.</li>
			<li>Liittyessäsi saat käyttöoikeuden Palikkatakomon kuvagalleriaan.</li>
			<li>Tuet LEGO harrastuksen edistämissä Suomessa</li>
		</ul>
		<a href="mailto:yhdistys@palikkatakomo.org?subject=Jäsenhakemus" class="btn btn--contact">Jäseneksi</a>
	</div>

</div>
{% endblock %}