{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ '/static/frontpage.css'|url }}">
{% endblock %}

{% block body %}

<div class="parent">
	<img class="roundedPhoto" src="{{ 'https://palikkatakomo.kuvat.fi/kuvat/Tapahtumat/Ryhm%C3%A4kuvat/2025%20PiiPoo%20Tampere.jpg?img=smaller' | url }}">
	<h2 style="text-align: center;">Mikä on Palikkatakomo?</h2>
	<div id="centered">
		<ul>
			<li>Palikkatakomo on LEGO-harrastusta Suomessa edistävä yhteisö ja yhdistys.</li>
			<li>Foorumilla voit osallistua keskusteluun ilman yhdistyksen jäsenyyttä, eikä ikärajaa ole.</li>
			<li>Palikkatakomon jäseneksi yhdistykseen voi liittyä yli 15-vuotias LEGO-harrastaja (20e/kalenterivuosi).</li>
		</ul>
		
	</div>
	<a href="mailto:yhdistys@palikkatakomo.org?subject=Jäsenhakemus" class="btn btn--contact">Jäseneksi</a>
</div>

<div class="parent">
	<img class="roundedPhoto" src="{{ 'https://palikkatakomo.kuvat.fi/kuvat/Tapahtumat/2025%20PiiPoo%20Sein%C3%A4joki/SaaristohistoriaSein%C3%A4joki_22.JPG?img=smaller' | url }}">
	<h2>Mitä Palikkatakomo tekee?</h2>
	<div id="centered">
		<ul>
			<li>Osallistumme LEGO-tapahtumiin</li>
			<li>Mahdollistamme keskustelun erityisesti nettifoorumilla ja Discordissa.</li>
			<li>Järjestämme innostavia rakennuskilpailuja ja tuemme jäsenten yhteisteosten toteuttamista
				LEGO-tapahtumiin.
			</li>
			<li>Ylläpidämme aktiivista yhteyttä LEGO-yhtiöön ja muihin LEGO-yhdistyksiin.</li>
		</ul>
	</div>
</div>

<div class="parent" style="margin-top: 5%;">
	<img class="roundedPhoto" src="{{ 'https://palikkatakomo.kuvat.fi/kuvat/Tapahtumat/2024%20PiiPoo%20Helsinki/2024%20PiiPoo%20Helsinki.jpg?img=smaller' | url }}">
	<h2>Miksi kannattaa liittyä?</h2>
	<ul>
		<li>Saat inspiroivaa, kannustavaa ja asiantuntevaa seuraa LEGO-aiheisiin keskusteluihin.</li>
		<li>Mahdollisuus osallistua Palikkatakomon yhteisteoksiin tapahtumissa.</li>
		<li>Liittyessäsi saat käyttöoikeuden Palikkatakomon kuvagalleriaan.</li>
		<li>Tuet LEGO harrastuksen edistämissä Suomessa</li>
	</ul>
</div>
{% endblock %}