{% extends "layout.html" %}

{% block body %}

<div>
	<img src="{{ '/images/palikka-iconi1-B.png' | url }}">
	<h2>Mikä on Palikkatakomo?</h2>
	<ul>
		<li>Palikkatakomo on LEGO-harrastusta Suomessa edistävä yhteisö ja yhdistys.</li>
		<li>Foorumi avautui vuonna 2008 ja yhdistys perustettiin 2012.</li>
	</ul>
</div>

<div>
	<img src="{{ '/images/palikka-iconi2.png' | url }}">
	<h2>Mitä Palikkatakomo tekee?</h2>
	<ul>
		<li>Mahdollistamme keskustelun erityisesti nettifoorumilla ja Discordissa.</li>
		<li>Järjestämme innostavia rakennuskilpailuja ja tuemme jäsenten yhteisteosten toteuttamista LEGO-tapahtumiin.</li>
		<li>Ylläpidämme aktiivista yhteyttä LEGO-yhtiöön ja muihin LEGO-yhdistyksiin.</li>
	</ul>
</div>

<div>
	<img src="{{ '/images/palikka-iconi3-b.png' | url }}">
	<h2>Kuka voi liittyä yhteisöön?</h2>
	<ul>
		<li>Foorumilla voit osallistua keskusteluun ilman yhdistyksen jäsenyyttä, eikä ikärajaa ole.</li>
		<li>Palikkatakomon jäseneksi yhdistykseen voi liittyä yli 15-vuotias LEGO-harrastaja.</li>
	</ul>
</div>

<div>
	<img src="{{ '/images/palikka-iconi4.png' | url }}">
	<h2>Miksi kannattaa liittyä?</h2>
	<ul>
		<li>Saat inspiroivaa, kannustavaa ja asiantuntevaa seuraa LEGO-aiheisiin keskusteluihin.</li>
		<li>Mahdollisuus osallistua Palikkatakomon yhteisteoksiin tapahtumissa.</li>
		<li>Liittyessäsi saat käyttöoikeuden Palikkatakomon kuvagalleriaan.</li>
		<li>Tuet LEGO harrastuksen edistämissä Suomessa</li>
	</ul>
</div>
{% endblock %}
