<!doctype html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="{{ '/static/960.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/header.css'|url }}">
  <title>{% block title %}{% endblock %}</title>
  {% block head %} {% endblock %}
</head>

<body>
	<div id="phorum" class="container_12">
		<div id="wrapper">
			{% include "blocks/header.html" %}

			<div id="blog" class="grid_10 prefix_1 suffix_1">
				{% block body %}{% endblock %}
				{% block subpages %}{% endblock %}
			</div>

			<div id="footer-plug" class="grid_8 prefix_2 suffix_2">
				<p>Foorumin moottorina toimii <a href="http://www.phorum.org/">Phorum</a>. Sivupohja by <a
				href="http://www.scriptmonkeys.us/">Scriptmonkeys</a>. Hymiö © <a
				href="http://piecesofthings.blogspot.com/">Mr. Pony</a><br />Palikkatakomo on harrastajien ylläpitämä
			sivusto. <a href="http://www.lego.com/">LEGO Group</a> ei sponsoroi sivustoa lainkaan.</p>
			</div>

		<div class="clear">&nbsp;</div>
    </div>
  </div>
</body>