/** Common properties **/
:root {
    --header-color: #2C2B7E;
    --notice-color: #FFA333;
}

/* overall style */

html {
    font-family: sans-serif;
}

/** Header color */
:is(h1, h2, h3, h4, h5, h6) {
    color: var(--header-color);
}

li::marker {
    color: var(--notice-color);
}

body {
    background-color: #E8E8E8;
}

#phorum {
   border-color:#b5b5b5;
   border-width:3px;
   border-style:none solid;
   margin-left: auto;
   margin-right: auto;
}

#wrapper {
   border-color: #828282;
   border-width: 3px;
   border-style: none solid;
   background-color: #FFFFFF;
}

#header {
    margin: 0px auto 15px auto;
    position: relative;
    border-top: none;
    color: #CCCCCC;
}

#footer-plug {
    text-align: center;
    font-size: 6pt;
}

/** HEADER **/

div.nav {
    display: flex;
    justify-content:space-around;
    padding-top: 1em;
}