/** Common properties **/
:root {
    --header-color: #2C2B7E;
    --notice-color: #FFA333;
}

/* overall style */

html {
    font-family: sans-serif;
}

/** Header color */
:is(h1, h2, h3, h4, h5, h6) {
    color: var(--header-color);
}

li::marker {
    color: var(--notice-color);
}

body {
    background-color: #E8E8E8;
}

#phorum {
   border-color:#b5b5b5;
   border-width:3px;
   border-style:none solid;
   margin-left: auto;
   margin-right: auto;
}

#wrapper {
   border-color: #828282;
   border-width: 3px;
   border-style: none solid;
   background-color: #FFFFFF;
}

#header {
    margin: 0px auto 15px auto;
    position: relative;
    border-top: none;
    color: #CCCCCC;
}

#footer-plug {
    text-align: center;
    font-size: 6pt;
}

/** HEADER **/

div.nav {
    display: flex;
    justify-content:space-around;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    text-align: center;
    margin-right: 0.1em;
    margin-bottom: 1em;
}

.headerbutton {
    text-decoration: none;
    background: #211f97;
    padding: 0.5em;
    border-radius: 0.4em;
}

.headerbutton:hover, .dropdownbtn:hover {
    background: #7372b3;
}

.headerbutton:visited {
    color: rgb(255, 255, 255);
}

.headerbutton:link {
    color: rgb(255, 255, 255);
}

.palikkatakomologo {
    padding-bottom: 3em;
}

.grid_8 {
    margin-top: 5em;
}

/** Content pages */

div#frontpage {

	h2 {
		text-align: center;
	}

	ul {
		padding: 0;
		margin: 0;
		margin-left: 0;
		text-align: left;
	}

	div {
		margin-left: 7em;
		margin-right: 7em;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: left;
	}

	div img {
		border-radius: 1%;
		max-width: 90%;
	}

	.btn {
		margin-top: 5%;
		margin-bottom: 5%;
		background-color: #2C2B7E;
		font-size: 1.5rem;
		font-weight: 500;
		text-transform: uppercase;
		padding: 2% 5%;
		border-radius: 5000px;
		transition: all 0.3s;
	}

	.btn:hover {
		transform: scale(1.15);
	}

}

div#blog img {
	max-width: 100%;
	height: auto;
	display: block;
}
